@{
    ViewBag.Title = "Quem somos";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")

<h2>E-Commerce Service.</h2>
<h3>@ViewBag.Message</h3>

<div class="container">
    <div class="col-md-10">
        <p>
            Somos um grupo constituído por 5 alunos: Felipe Dantas, Vinícios Calil, Pedro Moura, Yumi Sato e Felipe Lira que busca solucionar os
            problemas das pessoas que buscam serviços diversos sem sair de casa com o nosso sistema de recomendações que usa como base as
            relevâncias que você considera importante e com isso, calcula o Rating para cada serviço.
            <br /><br /> Este Rating significa o quão achamos que o tal serviço é importante para você.
        </p>
    </div>
</div>

<h3>Quer saber mais?</h3>

<div class="container">
    <div class="col-md-10">
        <p>
            Tem alguma dúvida? alguma sugestão para melhorias? Deixe sua opinião, pois ela é muito importânte para nossa equipe. 
            <br /><br /> Email: admin@ecommerce.com
        </p>
    </div>
</div>

  
<script>
    $(document).ready(function () {

    });
</script>
