@{
    ViewBag.Title = "Quem somos";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")

<h2>E-Commerce Service.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
  
<script>
    $(document).ready(function () {

    });
</script>
